/* Navbar Logo */
.homelogo {
  width: 40px; /* Ukuran logo di desktop */
  height: 40px;
  margin-right: 10px;
}

/* Navbar Text */
.brand-text {
  color: white;
  font-size: 0.9rem; /* Ukuran font teks di desktop */
  white-space: nowrap; /* Mencegah teks menjadi dua baris */
}

/* Navbar padding adjustments for desktop */
.navbar, .brand-content {
  padding: 5px 10px; /* Padding untuk desktop */
}

/* Navbar responsive adjustments */
/*  */
@media (max-width: 768px) {
  .homelogo {
      width: 30px; /* Ukuran logo lebih kecil untuk tampilan mobile */
      height: 30px;
  }

  .brand-text {
      font-size: 0.6rem; /* Ukuran font teks lebih kecil untuk mobile */
      margin-left: 5px; /* Margin kiri lebih kecil */
  }

  .navbar-nav {
      text-align: center;
      margin-top: 10px;
  }

  .navbar-toggler {
      border-color: white; /* Menyesuaikan warna border toggle button */
  }

  .btn-danger {
      width: 100%; /* Tombol Logout memenuhi lebar penuh di mobile */
      margin-top: 10px;
  }

  .brand-content {
      display: flex;
      align-items: center;
  }
}