.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #313131;
  text-align: center;
}

.footer-logo {
  width: 35px;  /* Adjust size of the logo */
  height: auto;
  margin-right: 10px;  /* Space between the logo and the text */
}

.footer-text {
  font-size: 14px;
  color: #ffffff;
}
