.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #313131;
  text-align: center;
  color: white;  /* Tambahkan warna teks agar terlihat */
}

.footer-logo {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.footer-text {
  font-size: 14px;
  color: white;  /* Pastikan teks berwarna putih */
}
