/* General Styling for the Form */
.login-form {
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Input and Button Styling */
.form-control {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  font-size: 16px;
  font-weight: bold;
}

/* Password Toggle Button Styling */
.password-toggle {
  background: none;
  border: none;
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

.password-toggle:hover {
  color: #007bff;
}

/* Alert Styling */
.alert {
  font-size: 14px;
  margin-bottom: 10px;
}

.login-container {
  height: 100%;
  background: linear-gradient(135deg, #1abc9c, #3498db);
  padding: 20px;
}

/* .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1abc9c, #3498db);
  padding: 20px;
} */

/* Kontainer untuk logo dan judul aplikasi */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
