.map-container {
  width: 100%;
  height: calc(100vh - 120px);
  max-width: 1250px; /* Sesuaikan dengan lebar maksimal yang diinginkan */
  margin: 0 auto; /* Pusatkan peta */
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 2;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
}

.custom-leaflet-marker {
  position: relative;
  width: 25px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-icon {
  width: 25px;
  height: 30px;
  border-radius: 50% 50% 0 0; /* Top rounded for marker head */
  background-color: blue; /* Default color */
  position: relative;
  z-index: 1;
}

.marker-pointer {
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-top: 10px solid blue; /* Same color as marker head */
  position: absolute;
  bottom: -10px; /* Position below marker head */
}

@media (min-width: 1024px) {
  .map-container {
    margin-left: 250px;
    width: calc(100% - 250px); /* Pastikan tidak melebihi layar */
  }
}

@media (max-width: 1023px) {
  .map-container {
    margin-left: 0;
    width: 100%;
  }
}